@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300;400;700&family=Poppins:wght@100;300;400;500;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fef9f8;
  color: #0d0d0d;
  font-family: 'Anek Bangla', sans-serif;
  font-family: 'Poppins', sans-serif;

  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

h1 {
  margin: 0;
  padding: 0;
  transition: all .3s ease;
  cursor: pointer;
}

h1:hover {
  color: #ef9273;
}

h2 {
  margin: 0;
  padding: 0;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.fc {
  justify-content: space-between;
  align-items: center;

}

.ai-c {
  align-items: center;
}

.f-1 {
  flex: 1;
}

.f-2 {
  flex: 2;
}

.navContainer {
  border-bottom: 8px solid #ef9273;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 75px;
}

.linkList {
  display: flex;
  flex-direction: row;
}

.listItem {
  width: 75px;
  height: 25px;
  list-style-type: none;
  margin: 0 5px;
  cursor: pointer;
  text-align: center;
  color: #0d0d0d;
  border-radius: 3px;
}

.listItem:hover {
  color: #fef9f8;
  background-color: #ef9273;
}

.mainContainer {
  display: flex;
  flex-direction: row;
}

.sidebarContainer {
  flex: 2;
  height: 100vh;
  background-color: #ef92732a;
}

.sidebarTitle {
  font-size: 1.5rem;
  padding: 5px 10px;
  margin: 0;
  padding-bottom: 0;
  font-weight: 500;
}

.sidebarDes {
  font-size: 1rem;
  padding: 5px 10px;
  margin: 0;
  padding-top: 0;
}


.contentContainer {
  flex: 9;
  height: 100vh;
}

.active {
  color: #fef9f8;
  background-color: #ef9273;
}

.sidebarLinkList {
  padding: 5px 10px;
}

.sidebarLinkListIteam {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.sidebarLinkListIteam:hover {
  background-color: #ef9273;
  color: #fef9f8;
}



.emList {
  padding: 5px 10px;
}

.emList li {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.emList li:hover {
  background-color: #6781ead3;
}

.emActive {
  background-color: #6781ead3;
}

.btn {
  padding: .5rem;
  border-radius: 5px;
  margin: 10px;
  background-color: #04AA6D;
  color: #fef9f8;
  transition: all .3s ease-in-out;
}

.btn:hover {
  background-color: #008152;
}

.btnsContainer {
  margin: 10px 25px;
  list-style-type: none;
}

.btns {
  text-align: center;
  width: 6rem;
  padding: .4rem;
  border-radius: 3px;
  border: 1px solid #008152;
  cursor: pointer;
  color: #008152;
  transition: all .1s ease-in-out;
}

.btns:hover {
  border: 1px solid #008152;
  background-color: #008152;
  color: #fef9f8;
}

.btnsActive {
  border: 1px solid #008152;
  background-color: #008152;
  color: #fef9f8;
}

h1.calcTitle {
  font-weight: 500;
  word-spacing: 8px;
  color: #0d0d0d;
  font-size: 1.8rem;
  text-align: center;
  padding: 25px;
  cursor: text;
  transition: all .3s ease-in-out;
  margin-bottom: 25px;
}

h1.calcTitle span {
  color: #008152;
}

.mainContentContainer {
  padding: 25px;
}


label {
  margin-top: 25px;
}

input {
  width: 80%;
  margin: 10px 0;
  margin-right: 25px;
  padding: .4rem;
  outline: none;
  border: 1px solid #008152;
  border-radius: 3px;
  color: #008152;
  font-size: 1rem;
  letter-spacing: 1px;
}

.formBtn {
  font-size: 1rem;
  letter-spacing: 1px;
  padding: .5rem;
  background-color: transparent;
  border: 1px solid #ef9273;
  color: #0d0d0d;
  border-radius: 3px;
  margin-bottom: 25px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.formBtn:hover {
  background-color: #ef9273;
  color: #fef9f8;
}

.resultsTag p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
  background-color: #ef92732a;
  color: #0d0d0d;
  padding: 10px;
  border-radius: 3px;
}

.span {

  color: #008152 !important;
}

.resultTag {
  margin: 0;
  padding: 0;
}

.resultTag h2 {
  margin: 0;
  padding: 0;
}

.resultTag p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

#steps {
  height: 60vh;
  overflow-y: scroll;
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.basePow,
.bin,
.res {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.basePow p,
.bin p,
.res p {
  margin: 2px;
  width: 50px;
}